.tabBar {
    display: flex;
    flex-wrap: wrap; // Cho phép xuống hàng
    flex-direction: row;
    flex-grow: 1;
    border-bottom: 1px solid var(--border-cl);
    justify-content: flex-start;
    gap: 8px; // Khoảng cách giữa các tab, optional

    .tabFeed {
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.334;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        padding: 0 24px;
        cursor: pointer;
        text-align: center;
        color: var(--text-default);
        column-gap: 4px;
        transition: color 0.2s;

        @media (max-width: 991px) {
            font-size: 1.6rem;
            padding: 0 16px;
        }

        &:hover {
            color: var(--color-red);
        }
    }

    & .active {
        color: var(--color-red);
    }
}
