.skeletonContainer {
    width: 100%;
    padding: 1rem;
    border-radius: 14px;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeletonImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    margin-bottom: 1rem;
    background-color: var(--skeleton-bg-color);
    border-radius: 14px;
}

.skeletonIcon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--skeleton-icon-color);
}

.skeletonLine {
    height: 0.625rem;
    background-color: var(--skeleton-bg-color);
    border-radius: 9999px;
    margin-bottom: 0.625rem;
}

.skeletonLine {
    width: 100%;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
